      {% include "shared/header" %}

      {{ body }}	

      {% for page in siblings %}
          {% for item in page.children limit:2 %}
            <section class="{{page.slug}}-item">
              <h3>{{ item.name }}</h3>
              {% if item.skills %}
                <p class="skills">{{ item.skills | join:' • ' }}</p>
              {% endif %}

              {{ item.summary }}
            </section>
          {% endfor %}
      {% endfor %}

      {% include "shared/footer" %}